/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 General
--------------------------------------------------------------*/

html, body {
    font-family: $fuente-principal;
    color: $color-negro;
    background-color: $color-blanco;
    font-size: 1rem;
    line-height: 1.5rem;
    @media (min-width: $md) {
        height: 100%;
    }
}

.site-wrapper {
    position: relative;
    z-index: 1;
    @media (min-width: $md) {
        height: 100%;
    }
}

.loader {
    margin: 0 auto;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    overflow: hidden;
    width: 200px;
    height: 200px;
    @include transition(all $transitionSpeed);
    @media (min-width: $sm) {
        width: 500px;
    }
    img {
        width: 31px!important;
        height: 31px!important;
    }
}

.loader.off {
    height: 0;
    width: 0;
}

.footer-blanco {
    background-color: $color-blanco;
    padding: 2em 0;

    .logo-negro {
        display: block;
        margin: 0 auto;
    }
}//.footer-blanco

.footer-legales {
    background-color: #000;
    color: $color-blanco;
    padding: 1em 0 .5em;
    @media (min-width: $sm) {
        padding: 2.5em 0 1em;
    }
    @media (min-width: $lg) {
        padding: 2.5em 0 2em;
    }

    .legales {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 414px;

        @media (min-width: $md) {
            max-width: 980px;
        }
    }

    p {
        font-family: 'Arial', 'Helvetica', sans-serif;
        font-size: .8rem;
        text-align: center;
        margin-top: .5em;
        @media (min-width: $sm) {
            margin-top: .8em;
        }
    }
}//.footer-legales

.main-header {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: $color-negro;
    color: $color-blanco;
    
    @media (min-width: $xs) {
        height: 100%;
    }
    @media (min-width: $sm) {
        height: 100vh;
    }
    @media (min-width: $md) and (max-height: 500px) {
        height: 600px;
    }

    .background-header {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            display: block;
            position: absolute;
            z-index: 11;
            left: 50%;
            @include transform(translateX(-50%));
            @include transition(all $transitionSpeed);
            height: 100%;
            width: auto;

            @media (max-width: $md) and (orientation: landscape) {
                height: auto;
                width: 120%; 
            }
            @media (min-width: $lg) {
                height: auto;
                width: 120%;
            }
        }

        .video-header {
            position: absolute;
            z-index: 11;
            width: 100%;
            height: 100%;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            -o-justify-content: center;
            justify-content: center;
        }

        .degradado{
            position: absolute;
            z-index: 111;
            display: block;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0+100 */
            background: -moz-linear-gradient(left,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

        }

    }//.background-header

    .header-content {
        padding: 20px $paddingLeftRight;
        position: relative;
        z-index: 11;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        height: 100%;

        @media (min-width: $md) {
            -webkit-justify-content: flex-start;
            -moz-justify-content: flex-start;
            -ms-justify-content: flex-start;
            -o-justify-content: flex-start;
            justify-content: flex-start;
            padding: 50px $paddingLeftRightMD;
        }
        @media (min-width: $lg) {
            padding: 50px $paddingLeftRightLG;
        }
        @media (min-width: $xlg) {
            padding: 50px $paddingLeftRightXLG;
        }

        .brand-name {
            img {
                width: 60%;
                height: auto;
                max-width: 131.43px;
                @media (min-width: $sm) {
                    width: 184.43px;
                    max-width: initial;
                }
            }
        }// .brand-name

        .mid-header {
            @media (min-width: $md) {
                height: 100%;
                display: flex;
                display: -o-flex;
                display: -ms-flex;
                display: -moz-flex;
                display: -webkit-flex;
                -webkit-flex-direction: column;
                -moz-flex-direction: column;
                -ms-flex-direction: column;
                -o-flex-direction: column;
                flex-direction: column;
                -webkit-justify-content: center;
                -moz-justify-content: center;
                -ms-justify-content: center;
                -o-justify-content: center;
                justify-content: center;
            }
        }

        h1 {
            font-family: $fuente-secundaria;
            text-transform: uppercase;
            font-size: 80px;
            line-height: 60px;
            font-weight: 700;

            @media (min-width: 414px) {
                font-size: 105px;
                line-height: 75px;
            }
            @media (min-width: $xs) {
                font-size: 80px;
                line-height: 60px;
            }
            @media (min-width: $sm) {
                font-size: 165px;
                line-height: 115px;
            }
            @media (min-width: $md) {
                font-size: 120px;
                line-height: 90px;
            }
            @media (min-width: $xlg) {
                font-size: 160px;
                line-height: 120px;
            }
        }

        .text-header {
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            margin: 10px 0 15px;
            @media (min-width: 414px) {
                font-size: 20px;
                line-height: 20px;
                margin: 20px 0 30px;
            }
            @media (min-width: $sm) {
                font-size: 28px;
                line-height: 30px;
            }
            @media (min-width: $md) {
                font-size: 18px;
                line-height: 24px;
                padding-right: 420px;
            }
            @media (min-width: $xlg) {
                font-size: 24px;
                line-height: 30px;
                padding-right: 670px;
            }
        }

        .btn-play-mob {
            background-color: $color-rojo-btn;
            display: block;
            text-align: center;
            width: 100%;
            font-size: 24px;
            font-family: $fuente-secundaria;
            color: $color-blanco;
            text-transform: uppercase;
            padding: 10px 0;
            @include border-radius(3px);

            @media (min-width: 414px) {
                padding: 15px 0;
            }
            @media (min-width: $sm) {
                font-size: 44px;
                line-height: 40px;
            }

            > span {
                display: inline-block;
                position: relative;
                &::after{
                    content: '';
                    display: block;
                    height: 24px;
                    width: 24px;
                    background-image: url(../images/icon-video-blanco.svg);
                    background-size: 24px 24px;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    right: -30px;
                    top: 50%;
                    @include transform(translateY(-50%));
                }
            } 

            @media (min-width: $md) {
                display: none;
            }
        }

    }//.header-content
    
}//.main-header


.main-wrapper {
    position: relative;
    z-index: 1;
}//.main-wrapper

.art-section {
    width: 100%;
    padding: 113px $paddingLeftRight 5px;
    @media (min-width: $md) {
        padding: 100px $paddingLeftRightMD 80px;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
    }

    @media (min-width: $lg) {
        padding: 100px $paddingLeftRightLG;
    }
    @media (min-width: $xlg) {
        padding: 190px $paddingLeftRightXLG;
    }

    .wrapper-art {
        width: 100%;
        @media (min-width: $md) {
            height: 80%;
        }
    }//.wrapper-art

    h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 25px;
        @media (min-width: $md) {
            font-size: 30px;
            line-height: 32px
        }
    }

    .lista-art {
        margin-top: 35px;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;

        li {
            width: 50%;
            padding: 5px;
            @media (min-width: $xs) {
                width: 33.3%;
            }
            @media (min-width: $md) {
                width: 25%;
            }
            @media (min-width: $lg) {
                padding: 7px;
            }
        }
    }//.lista-art

    .pagination-art {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        padding: 2rem 0 1rem;

        li {
            @include transition(all $transitionSpeed);
            height: 4px;
            width: 41px;
            background-color: #e6e6e6;
            margin-right: 2px;

            &:last-child {
                margin-right: none;
            }
        }
        li.activo {
            background-color: $color-rojo-fondo;
        }
        
    }
}//.art-section


.art-elementor {
    cursor: pointer;
    @include transition(all $transitionSpeed);
    background-color: $color-gris;
    position: relative;
    overflow: hidden;
    height: 144px;
    @media (min-width: 414px) {
        height: 166px;
    }
    @media (min-width: $md) {
        height: 200px;
    }

    &:hover {
        @include transition(all $transitionSpeed);
        zoom: 1;
        filter: alpha(opacity=70);
        opacity: 0.7;
      }

    .imagen {
        position: absolute;
        z-index: 1;
        height: 110%;
        width: auto;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
    }

    .wrapper-fav {
        position: absolute;
        z-index: 111;
        right: 12px;
        top: 10px;
        display: block;
        background-color: $color-blanco;
        width: 60px;
        height: 30px;
        @include border-radius(15px);
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;

        .number {
            font-size: 12px;
            line-height: 18px;
            color: $color-gris2;
            font-weight: 500;

            &::after {
                content: '';
                height: 14px;
                width: 14px;
                display: inline-block;
                margin-left: 5px;
                vertical-align: sub;
                background-image: url(../images/corazon.svg);
                background-size: 14px 14px;
            }
        }//.number
    }//.wrapper-fav 
}//.art-elementor

.map-section {
    background-color: $color-blanco;
    @media (min-width: $md) {
        background-color: $color-gris-fondo;
        height: 100vh;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
    }

    @media (min-width: $md) and (max-height: 500px) {
        height: 600px;
    }
}//.map-section

.map-wrapper {
    position: relative;
    overflow: hidden;
    background-color: $color-gris-fondo;
    height: 560px;
    @media (min-width: $md) {
        width: 50%;
        height: 100%;
    }

    .map {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}//.map-wrapper

.content-wrapper {
    @media (min-width: $md) {
        width: 50%;
        height: 100%;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
    }

    .content {
        padding: 113px $paddingLeftRight 50px;
        @media (min-width: $md) {
            padding: 1rem 1rem 1rem $paddingLeftRightMD;
            width: 80%;
        }
        @media (min-width: $lg) {
            padding: 1rem 1rem 1rem $paddingLeftRightLG;
            width: 80%;
        }
        @media (min-width: $xlg) {
            padding: 1rem 1rem 1rem $paddingLeftRightXLG;
            width: 70%;
            padding-top: 75px;
        }

        h2 {
            position: relative;
            text-transform: uppercase;
            font-size: 90px;
            line-height: 64px;
            font-family: $fuente-secundaria;
            font-weight: 700;
            margin-bottom: 10px;

            &::before {
                content: '';
                display: block;
                width: 29px;
                height: 40px;
                background-image: url(../images/aerosol.svg);
                background-size: 29px 40px;
                position: absolute;
                top: -75px;
                left: 0;
            }
        }

        p {
            font-size: 14px;
            @media (min-width: $md) {}
        }

        .button-wrapper {
            margin: 1em 0 2em;
            width: 236px;
            
            .btn-location {
                font-size: 14px;
                display: block;
                width: 100%;
                cursor: pointer;
                position: relative;
                padding: .8em 2em;
                color: $color-rojo-btn;
                border: 1px solid $color-rojo-btn;

                &:hover {
                    zoom: 1;
                    opacity: 0.8;
                }

                &::after {
                    content: '';
                    margin-left: 7px;
                    background-image: url(../images/pin-icon.svg);
                    background-size: 16px 22px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    width: 16px;
                    height: 22px;
                    vertical-align: middle;
                }
            }//buton
        }//.button-wrapper

        .zona-form {

            .select-wrapper {
                position: relative;
                z-index: 1;

                &::after {
                    content: '';
                    margin-left: 7px;
                    background-image: url(../images/arrow-pink.svg);
                    background-size: 16px 8px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    width: 16px;
                    height: 8px;
                    position: absolute;
                    top: 50%;
                    right: 5px;
                    @include transform(translateY(-50%));
                }

                select {
                    position: relative;
                    z-index: 11;
                    width: 100%;
                    outline: none;
                    padding-left: 5px;
                    height: 32px;
                    -webkit-appearance: none;
                    font-size: 14px;
                    text-transform: uppercase;
                    border: 0;
                    background-color: transparent;
                    border-bottom: 1px solid $color-rojo-fondo;
                    @include border-radius(0);
                }
            }

            .submit-btn {
                cursor: pointer;
                display: block;
                width: 166px;
                font-size: 16px;
                background-color: $color-rojo-btn;
                color: $color-blanco;
                padding: .8em 2em;
                text-transform: uppercase;
                margin-top: 163px;

                @media (min-width: $md) {
                    margin-top: 100px;
                }
                @media (min-width: $xlg) {
                    margin-top: 200px;
                }

                &:hover {
                    zoom: 1;
                    opacity: 0.8;
                }

                &::after {
                    content: '';
                    margin-left: 7px;
                    background-image: url(../images/lupa-blanca.svg);
                    background-size: 16px 16px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    vertical-align: top;
                }
            }//.submit-btn
        }//.zona-form

        .btn-volver {
            color: $color-rojo-btn;
            font-size: .8rem;
            line-height: 1.2rem;

            &:hover {
                zoom: 1;
                opacity: 0.9;
                text-decoration: underline;
            }

            &:before {
                content: '<';
            }
        }

    }//content

}//.content-wrapper

.mapinfo-wrapper {
    background-color: $color-blanco;

    .imagen-destacada {
        position: relative;
        width: 100%;
        height: 100px;
        overflow: hidden;
        background-color: $color-gris-fondo;
        @media (min-width: $sm) {
            height: 150px;
        }
        @media (min-width: $md) {
            height: 250px;
        }

        &::before {
            content: '';
            height: 22px;
            width: 35px;
            display: block;
            background-repeat: no-repeat;
            background-image: url(../images/aerosol.svg);
            background-size: 14px 14px;
            position: absolute;
            z-index: 11;
            left: 5px;
            top: 10px;
        }

        > img {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            width: 130%;
            height: auto;
            @include transform(translate3d(-50%,-50%,0));
        }

        .wrapper-fav {
            position: absolute;
            z-index: 111;
            right: 12px;
            bottom: 10px;
            display: block;
            background-color: $color-blanco;
            width: 60px;
            height: 30px;
            @include border-radius(15px);
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            -o-justify-content: center;
            justify-content: center;
    
            .number {
                font-size: 12px;
                line-height: 18px;
                color: $color-gris2;
                font-weight: 500;
    
                &::after {
                    content: '';
                    height: 14px;
                    width: 14px;
                    display: inline-block;
                    margin-left: 5px;
                    vertical-align: sub;
                    background-image: url(../images/corazon.svg);
                    background-size: 14px 14px;
                }
            }//.number
        }//.wrapper-fav 

    }//.imagen-destacada

    .title {
        color: $color-gris;
        font-size: 18px;
        line-height: 18px;
        font-family: $fuente-secundaria;
        font-weight: 700;
        margin: 10px 0 0;
        padding: 0 15px;
        font-weight: bold;
        @media (min-width: $sm) {
            font-size: 25px;
            line-height: 24px;
            margin: 33px 0 0;
            padding: 0 30px;
        }
    }

    .tag {
        color: $color-gris;
        font-size: 10px;
        line-height: 10px;
        margin: 0 0 1em;
        padding: 0 15px;
        @media (min-width: $sm) {
            font-size: 12px;
            line-height: 12px;
            margin: 0 0 2em;
            padding: 0 30px;
        }
    }

    .excerpt {
        color: $color-gris;
        font-size: 12px;
        line-height: 13px;
        padding: 0 15px;
        margin: 1em 0 2em;
        @media (min-width: $sm) {
            margin: 0 0 1em;
            font-size: 14px;
            line-height: 18px;
            padding: 0 30px;
        }
        @media (min-width: $md) {
            margin: 0 0 2em;
        }
    }

    .direccion {
        font-size: 10px;
        line-height: 15px;
        padding: 0 10px;
        text-transform: uppercase;
        margin-bottom: 15px;
        @media (min-width: $sm) {
            font-size: 12px;
            line-height: 15px;
            padding: 0 25px;
            margin-bottom: 30px;
        }

        &::before {
            content: '';
            margin-right: 5px;
            height: 21px;
            width: 15px;
            display: inline-block;
            margin-left: 5px;
            vertical-align: middle;
            background-image: url(../images/pin-icon-black.svg);
            background-size: 15px 21px;
        }
    }

    .ver-mas-btn {
        cursor: pointer;
        background-color: $color-rojo-btn;
        position: relative;
        display: block;
        font-size: 10px;
        margin: 5px 15px 20px;
        padding: .5em 1em;
        color: $color-blanco;
        font-weight: 300;
        @media (min-width: $sm) {
            font-size: 12px;
            margin: 10px 30px 33px;
            padding: 1em;
        }

        &:hover {
            zoom: 1;
            opacity: 0.8;
        }

        &::after {
            content: '>';
            margin-left: 5px;
        }
    }//.ver-mas-btn


}//.mapinfo-wrapper

.more-content-wrapper {
    display: none;
    position: fixed;
    z-index: 8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @media (min-width: $md) {
        position: absolute;
    }

    .more-content-inner {
        background-color: rgba(0,0,0,0.5);
        width: 0;
        height: 0;
        overflow: hidden;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        @include transition(all $transitionSpeedx2);

        .contenedor {
            position: relative;
            overflow: hidden;
            overflow-y: auto;
            background-color: $color-gris-fondo;
            width: 100%;
            height: 100%;

            .close-btn {
                position: absolute;
                top: 50px;
                left: $paddingLeftRight;
                display: block;
                width: 30px;
                height: 24px;
                cursor: pointer;
                z-index: 111;
                background-image: url(../images/arrow-back.svg);
                background-repeat: no-repeat;
                background-size: 30px 24px;
                @include transform(rotate(180deg));

                &:hover {
                    zoom: 1;
                    opacity: 0.8;
                  }

            }//.close-btn

            .contenido {
                position: relative;
                z-index: 11;
            }//.contenido
            
        }//.contenedor
    }//.more-content-inner
}//.more-content-wrapper

//articulo que sería el contenido interno que va en contenido
.art-popup-wrapper {

    .video-wrapper {
        background-color: $color-negro;
        position: relative;
        height: 100vh;
        @media (min-width: $sm) {
            height: 500px;
        }
        @media (min-width: $md) {
            height: 350px;
            overflow: hidden;
        }
        @media (min-width: $lg) {
            height: 450px;
        }

        .title-wrapper {
            z-index: 11;
            position: absolute;
            color: $color-blanco;
            bottom: 2em;
            left: $paddingLeftRight;
            h1 {
                font-weight: 700;
                font-family: $fuente-secundaria;
                font-size: 36px;
                line-height: 36px;
            }
            h5 {
                font-size: 14px;
                line-height: 14px;
            }
        }//.title

        .video {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            overflow: hidden;

            > img {
                position: absolute;
                left: 50%;
                top: 0;
                @include transform(translate(-50%,0));
                height: 100%;
                width: auto;
            }

            > video {
                position: absolute;
                left: 50%;
                top: 0;
                @include transform(translate(-50%,0));
            }

            .playbtn {
                position: absolute;
                left: 50%;
                top: 50%;
                @include transform(translate(-50%,-50%));
                display: block;
                z-index: 11;
                height: 100px;
                width: 100px;
                cursor: pointer;
                background-image: url(../images/icon-video-transparente.svg);
                background-size: 100px 100px;
                &:hover {
                    zoom: 1;
                    opacity: 0.8;
                }
            }

            .playing {
                opacity: .1;
                &:hover {
                    zoom: 1;
                    opacity: 1;
                }
            }
        }//.video

    }//.video-wrapper

    .contenido-wrapper {
        background-color: $color-blanco;
        color: $color-gris;   
        padding: 50px $paddingLeftRight 90px;

        .wrapper-fav {
            position: relative;
            z-index: 1;
            display: block;
            width: 100%;
            height: 30px;
    
            .number {
                position: relative;
                font-size: 16px;
                line-height: 18px;
                color: $color-gris2;
                font-weight: 500;
    
                &::after {
                    content: "";
                    height: 24px;
                    width: 24px;
                    display: inline-block;
                    margin-left: 5px;
                    background-image: url(../images/corazon.svg);
                    background-size: 24px 24px;
                    position: absolute;
                    right: -34px;
                    top: 50%;
                    @include transform(translateY(-50%));
                }
            }//.number
        }//.wrapper-fav 

        .text-wrapper {
            
            .text {
                font-size: 16px;
                font-weight: 300;
                margin: 25px 0;
            }

            .direccion {
                font-size: 12px;
                line-height: 15px;
                padding: 0 10px;
                text-transform: uppercase;
                margin-bottom: 0;
                margin-left: -5px;
        
                &::before {
                    content: '';
                    margin-right: 5px;
                    height: 21px;
                    width: 15px;
                    display: inline-block;
                    margin-left: 5px;
                    vertical-align: middle;
                    background-image: url(../images/pin-icon-black.svg);
                    background-size: 15px 21px;
                }
            }
        }//.text-wrapper
    }//.contenido-wrapper
    
    .galeria-wrapper {
        @media (min-width: $md) {
            height: 500px;
            overflow: hidden;
        }
    }

    .wrapper-pag {
        position: relative;
        height: 100px;
        
        .pag-direction {
            position: absolute;
            display: block;
            width: 15%;
            height: 100%;
            top: 50%;
            @include transform(translateY(-50%));
            background-image: url(../images/arrow-back.svg);
            background-size: 30px 24px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            @include transition(all $transitionSpeed);
            &:hover {
                @include transition(all $transitionSpeed);
                zoom: 1;
                filter: alpha(opacity=70);
                opacity: 0.7;
            }
        }

        #pops-pag-left {
            left: 0;
            @include transform(translateY(-50%) rotate(180deg));
        }

        #pops-pag-right {
            right: 0;
        }

        .pagination-art {
            position: absolute;
            top: 50%;
            left: 15%;
            @include transform(translateY(-50%));
            height: 100%;
            width: 70%;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            -o-justify-content: center;
            justify-content: center;
    
            li {
                @include transition(all $transitionSpeed);
                height: 4px;
                width: 41px;
                background-color: #e6e6e6;
                margin-right: 2px;
    
                &:last-child {
                    margin-right: none;
                }
            }
            li.activo {
                background-color: $color-rojo-fondo;
            }
            
        }
    }//.wrapper-pag
}//.art-popup-wrapper


//contenido del mapa, hacerlo con js
.gm-style .gm-style-iw-c {
    padding: 0!important;
}

.gm-style-iw-d {
    overflow: hidden!important;
    background-color: transparent
}

//flechita
.gm-style .gm-style-iw-t::after {
    background-color: $color-blanco!important;
    z-index: -4!important;
}