/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 General
--------------------------------------------------------------*/

html, body {
    font-family: $fuente-principal;
    color: $color-negro;
    background-color: $color-blanco;
    font-size: 1rem;
    line-height: 1.5rem;
    @media (min-width: $md) {
        height: 100%;
    }
}

.site-wrapper {
    position: relative;
    z-index: 1;
    @media (min-width: $md) {
        height: 100%;
    }
}

.footer-blanco {
    background-color: $color-blanco;
    padding: 2em 0;

    .logo-negro {
        display: block;
        margin: 0 auto;
    }
}//.footer-blanco

.footer-legales {
    background-color: #000;
    color: $color-blanco;
    padding: 1em 0 .5em;
    @media (min-width: $sm) {
        padding: 2.5em 0 1em;
    }
    @media (min-width: $lg) {
        padding: 2.5em 0 2em;
    }

    .legales {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 414px;

        @media (min-width: $md) {
            max-width: 980px;
        }
    }

    p {
        font-family: 'Arial', 'Helvetica', sans-serif;
        font-size: .8rem;
        text-align: center;
        margin-top: .5em;
        @media (min-width: $sm) {
            margin-top: .8em;
        }
    }
}//.footer-legales

.main-header {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding: 1rem;
    background-color: $color-negro;
    color: $color-blanco;

    .background-header {
        
    }//.background-header

    .header-content {
        position: relative;
        z-index: 11;
        .brand-name {
            text-align: center;
            @media (min-width: $md) {
                text-align: left;
            }
        }
    }//.header-content
    
}//.main-header



.main-wrapper {
    position: relative;
    z-index: 1;
}//.main-wrapper

.art-section {
    width: 100%;
    @media (min-width: $md) {
        height: 100vh;
    }
}//.art-section

.map-section {
    background-color: $color-gris-fondo;
    @media (min-width: $md) {
        height: 100vh;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
    }
}//.map-section

.map-wrapper {
    position: relative;
    overflow: hidden;
    background-color: $color-gris-fondo;
    height: 500px;
    @media (min-width: $md) {
        width: 50%;
        height: 100%;
    }

    .map {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}//.map-wrapper

.content-wrapper {
    @media (min-width: $md) {
        width: 50%;
        height: 100%;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
    }

    .content {
        padding: 6rem $paddingLeftRight 1rem;
        @media (min-width: $md) {
            padding: 1rem $paddingLeftRightMD;
            width: 80%;
        }

        h2 {
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
        }

        p {
            font-size: .7rem;
            line-height: 1.2rem;
            text-align: center;
            padding: 1em 1.5em;
        }

        .button-wrapper {
            margin: 1em auto 2em;
            
            .btn-location {
                display: block;
                width: 100%;
                cursor: pointer;
                position: relative;
                padding: .8em 2em;
                color: $color-rojo-btn;
                border: 1px solid $color-rojo-btn;

                &:hover {
                    zoom: 1;
                    opacity: 0.8;
                }
            }//buton
        }//.button-wrapper

        .zona-form {
            .submit-btn {
                cursor: pointer;
                display: block;
                width: 100%;
                background-color: $color-rojo-btn;
                color: $color-blanco;
                padding: .8em 2em;
                text-transform: uppercase;
                margin: 2em 0 1em;

                &:hover {
                    zoom: 1;
                    opacity: 0.8;
                }
            }//.submit-btn
        }//.zona-form

        .btn-volver {
            color: $color-rojo-btn;
            font-size: .8rem;
            line-height: 1.2rem;

            &:hover {
                zoom: 1;
                opacity: 0.9;
                text-decoration: underline;
            }

            &:before {
                content: '<';
            }
        }

    }//content

}//.content-wrapper

.mapinfo-wrapper {
    background-color: $color-rojo-fondo;

    .imagen-destacada {
        position: relative;
        width: 100%;
        height: 120px;
        overflow: hidden;
        background-color: $color-gris-fondo;
        @media (min-width: $md) {
            height: 150px;
        }
        > img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 130%;
            height: auto;
            @include transform(translate3d(-50%,-50%,0));
        }
    }//.imagen-destacada

    .title {
        color: $color-blanco;
        font-size: 1rem;
        margin: 1em 0 .2em;
        padding: 0 10px;
        font-weight: bold;
    }

    .tag {
        color: $color-blanco;
        font-size: .7rem;
        line-height: 1rem;
        margin: 0 0 1em;
        padding: 0 10px;
        @media (min-width: $md) {
            margin: 0 0 2em;
        }
    }

    .excerpt {
        color: $color-blanco;
        font-size: .7rem;
        line-height: 1rem;
        padding: 0 10px;
        margin: 0 0 1em;

        @media (min-width: $md) {
            margin: 0 0 2em;
        }
    }

    .ver-mas-btn {
        cursor: pointer;
        position: relative;
        display: block;
        margin: 1em 10px 0;
        padding: 1em .5em 1.5em;
        color: $color-blanco;
        text-transform: uppercase;
        font-size: 1rem;
        &:hover {
            zoom: 1;
            opacity: 0.8;
        }
    }//.ver-mas-btn


}//.mapinfo-wrapper

.more-content-wrapper {
    display: none;
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .more-content-inner {
        background-color: rgba(0,0,0,0.5);
        width: 0;
        height: 0;
        overflow: hidden;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        @include transition(all $transitionSpeedx2);

        .contenedor {
            position: relative;
            overflow: hidden;
            overflow-y: auto;
            background-color: $color-gris-fondo;
            width: 100%;
            height: 100%;

            @media (min-width: $sm) {
                width: 90%;
                height: 90%;
            }

            @media (min-width: $md) {
                overflow-y: hidden;
                width: 80%;
                height: auto;
            }

            .close-btn {
                position: absolute;
                top: 1em;
                right: 1em;
                display: block;
                width: 3em;
                height: 3em;
                cursor: pointer;
                z-index: 111;

                &:hover {
                    zoom: 1;
                    opacity: 0.8;
                  }

                .tog1 {
                    display: block;
                    position: absolute;
                    width: 80%;
                    height: .2em;
                    top: 50%;
                    left: 10%;
                    @include transform(rotate(45deg));
                    background-color: $color-blanco;

                    @media (min-width: $md) {
                        background-color: $color-rojo-fondo;
                    }
                }
                .tog2 {
                    display: block;
                    position: absolute;
                    width: 80%;
                    height: .2em;
                    top: 50%;
                    left: 10%;
                    @include transform(rotate(-45deg));
                    background-color: $color-blanco;
                    @media (min-width: $md) {
                        background-color: $color-rojo-fondo;
                    }
                }
            }//.close-btn

            .contenido {
                position: relative;
                z-index: 11;
            }//.contenido
            
        }//.contenedor
    }//.more-content-inner
}//.more-content-wrapper

//articulo que sería el contenido interno que va en contenido
.art-popup-wrapper {

    @media (min-width: $md) {
        height: 100%;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
    }

    .video-wrapper {
        background-color: $color-rojo-fondo;
        position: relative;
        height: 100vh;
        @media (min-width: $sm) {
            height: 500px;
        }
        @media (min-width: $md) {
            height: auto;
            width: 50%;
            overflow: hidden;
        }

        .title-wrapper {
            z-index: 11;
            position: absolute;
            color: $color-blanco;
            bottom: 2em;
            left: 2em;
            h1 {
                font-weight: bold;
                font-size: 1rem;
            }
            h5 {
                font-size: .7rem;
                line-height: 1.2rem;
            }
        }//.title

        .video {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            overflow: hidden;

            > img {
                position: absolute;
                left: 50%;
                top: 0;
                @include transform(translate(-50%,0));
                height: 100%;
                width: auto;
            }

            > video {
                position: absolute;
                left: 50%;
                top: 0;
                @include transform(translate(-50%,0));
            }

            .playbtn {
                position: absolute;
                left: 50%;
                top: 50%;
                @include transform(translate(-50%,-50%));
                display: block;
                z-index: 11;
                height: 40px;
                width: 40px;
                background-color: $color-blanco;
                cursor: pointer;
                &:hover {
                    zoom: 1;
                    opacity: 0.8;
                }
            }

            .playing {
                opacity: .1;
                &:hover {
                    zoom: 1;
                    opacity: 1;
                }
            }
        }//.video

    }//.video-wrapper

    .contenido-wrapper {
        @media (min-width: $md) {
            width: 50%;
            height: 100%;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-flex-direction: column-reverse;
            -moz-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
            -o-flex-direction: column-reverse;
            flex-direction: column-reverse;
        }

        .text-wrapper {
            background-color: $color-rojo-fondo;
            padding: 1.5em 2em;
            color: $color-blanco;

            @media (min-width: $md) {
                display: flex;
                display: -o-flex;
                display: -ms-flex;
                display: -moz-flex;
                display: -webkit-flex;
                -webkit-justify-content: space-between;
                -moz-justify-content: space-between;
                -ms-justify-content: space-between;
                -o-justify-content: space-between;
                justify-content: space-between;
            }
            
            .text {
                font-size: .7rem;
                line-height: 1.2rem;
                @media (min-width: $md) {
                    width: 55%;
                }
            }

            .direcion {
                display: none;
                @media (min-width: $md) {
                    width: 40%;
                    display: block;
                    font-size: .9rem;
                    text-align: right;
                }
            }
        }//.text-wrapper

        .galeria-wrapper {
            @media (min-width: $md) {
                height: 500px;
                overflow: hidden;
            }
        }
        
    }//.contenido-wrapper
}//.art-popup-wrapper


//contenido del mapa, hacerlo con js
.gm-style .gm-style-iw-c {
    padding: 0!important;
}

.gm-style-iw-d {
    overflow: hidden!important;
    background-color: $color-rojo-fondo;
}

//flechita
.gm-style .gm-style-iw-t::after {
    background-color: $color-rojo-fondo!important;
    z-index: -4!important;
}